/src
/node_modules
/dist/configs
.idea
/configs

*.log
yarn.lock
pnpm-lock.yaml
eslint.config.*
.editorconfig
.gitignore
configs/lint-staged.config.mjs
/packages/main/test

.nyc_output
.github
.claude
.mocharc.json
tsconfig.json
tsconfig.*.json
.husky
.nycrc.json
/assets
/scripts